<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>과일가게</title>
{#    <link rel="stylesheet" href="../../static/css/main.css">#}
    {#bootstrap#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">계산하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history-page/">이전 기록 조회하기</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ol class="list-group list-group-numbered" id="fruit-list">
    <li class="list-group-item">
        <select class="form-select w-25 d-inline" aria-label="Default select example">
            <option value="사과">사과</option>
            <option value="귤">귤</option>
            <option value="복숭아">복숭아</option>
            <option value="메론">메론</option>
            <option value="딸기">딸기</option>
            <option value="수박">수박</option>
        </select>

        <input type="text" placeholder="원가">
        <input type="text" placeholder="판매가">
        <input type="text" placeholder="수량">
    </li>
</ol>


<button type="button" class="btn btn-primary" onclick="addFruitList()">과일추가</button>
<button type="button" class="btn btn-primary" onclick="requestCalculate()">계산하기</button>

<div id="result-wrapper" style="display: none">
    <div>내가 쓴 금액: <span id="total-cost-price"></span></div>
    <div>내가 판 금액: <span id="total-selling-price"></span></div>
    <div>내가 번 금액: <span id="total-earning-price"></span></div>
    <div>수익률: <span id="rate-of-return"></span>%</div>
    <button type="button" class="btn btn-primary" onclick="saveProfit()">결과 저장하기</button>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');


    let fruitElement = "<li class=\"list-group-item\">\n" +
        "            <select class=\"form-select w-25 d-inline\" aria-label=\"Default select example\">\n" +
        "                <option value=\"1\">사과</option>\n" +
        "                <option value=\"2\">귤</option>\n" +
        "                <option value=\"3\">복숭아</option>\n" +
        "                <option value=\"4\">메론</option>\n" +
        "                <option value=\"5\">딸기</option>\n" +
        "                <option value=\"6\">수박</option>\n" +
        "            </select>\n" +
        "\n" +
        "            <input type=\"text\" placeholder=\"원가\">\n" +
        "            <input type=\"text\" placeholder=\"판매가\">\n" +
        "            <input type=\"text\" placeholder=\"수량\">\n" +
        "        </li>";

    //과일 리스트 추가
    function addFruitList() {
        $("#fruit-list").append(fruitElement);
    }

    //과일 계산하기
    function requestCalculate() {
        let fruitsData = getFruitData();

        let data = {
            "fruits": fruitsData
        }

        $.ajax({
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            url: '/fruit/calculate/',
            data: JSON.stringify(data),
            async: false,
            dataType: 'JSON',
            success: function (data) {
                showResults(data.result)
            },
            error: function (request, status, error) {
                if (request.status === 500) {
                    alert("서버가 작동하지 않습니다.");
                } else {
                    alert(request.status + " 예외입니다.");
                }
            },
        });
    }

    //입력된 과일 정보를 리스트로 가져오기
    function getFruitData() {
        const fruitList = document.querySelectorAll('#fruit-list .list-group-item');
        const fruitsData = [];

        fruitList.forEach(item => {
            const select = item.querySelector('select');
            const inputs = item.querySelectorAll('input');

            const fruit = {
                "name": select.value,
                "costPrice": inputs[0].value,
                "sellingPrice": inputs[1].value,
                "quantity": inputs[2].value
            };

            fruitsData.push(fruit);
        });

        return fruitsData;
    }

    // 응답된 계산 결과를 띄우기
    function showResults(result) {
        $('#result-wrapper').css('display', 'block')

        const totalCostPrice = result.totalCostPrice;
        const totalSellingPrice = result.totalSellingPrice;
        const totalEarningPrice = result.totalEarningPrice;
        const rateOfReturn = result.rateOfReturn;

        $('#total-cost-price').empty();
        $('#total-selling-price').empty();
        $('#total-earning-price').empty();
        $('#rate-of-return').empty();

        $('#total-cost-price').text(totalCostPrice);
        $('#total-selling-price').text(totalSellingPrice);
        $('#total-earning-price').text(totalEarningPrice);
        $('#rate-of-return').text(rateOfReturn);
    }

    //profit 저장하기
    function saveProfit() {
        const totalCostPrice = $('#total-cost-price').html();
        const totalSellingPrice = $('#total-selling-price').html();
        const totalEarningPrice = $('#total-earning-price').html();
        const rateOfReturn = $('#rate-of-return').html();

        const data = {
            "totalCostPrice": totalCostPrice,
            "totalSellingPrice": totalSellingPrice,
            "totalEarningPrice": totalEarningPrice,
            "rateOfReturn": rateOfReturn,
        }

        $.ajax({
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            url: '/profit/',
            data: JSON.stringify(data),
            async: false,
            dataType: 'JSON',
            success: function (data) {
                alert("저장되었습니다.")
            },
            error: function (request, status, error) {
                if (request.status === 500) {
                    alert("서버가 작동하지 않습니다.");
                } else {
                    alert(request.status + " 예외입니다.");
                }
            },
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{#<script src="../../static/js/main.js"></script>#}
</body>
</html>