<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title></title>
</head>

<body>

<div class="login-wrapper" style="margin: 0 auto; margin-top: 120px;">
    <h2>로그인</h2>
    <input type="id" name="id" id="id" class="form-control" placeholder="Id" autofocus required>
    <br>
    <input type="password" name="pw" id="pw" class="form-control" placeholder="Password" required><br>
    <input type="submit" value="로그인" onclick="login()">
    <br><br><br>
    <div class="links">
        <a href="/signup">회원가입하기</a>
    </div>
</div>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function login() {
        let user_id = $('#id').val();
        let user_pw = $('#pw').val();

        let data = {
            "id": user_id,
            "pw": user_pw,
        }

        $.ajax({
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            url: '/login/',
            data: JSON.stringify(data),
            async: false,
            dataType: 'JSON',
            success: function (data) {
                localStorage.setItem('userId', user_id);
                window.location.href = '/cafe_page';
            },
            error: function (request, status, error) {
                if (request.status === 404) {
                    alert("등록되지 않은 아이디입니다.");
                } else if (request.status === 500) {
                    alert("서버가 작동하지 않습니다.");
                } else {
                    alert(request.status + " 예외입니다.");
                }
            },
        });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

