
<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title></title>
</head>

<body>

    <div class="login-wrapper" style="margin: 0 auto; margin-top: 120px;">
        <h2>로그인</h2>
            <form action="" class="form-signin" method="POST" id="login-form">
                {% csrf_token %}
                <input type="id" name="id" id="id" class="form-control" placeholder="Id" autofocus required>
                <br>
                <input type="password" name="pw" id="password" class="form-control" placeholder="Password" required><br>
                <input type="submit" value="로그인">
            </form>
        <br><br><br>
        <div class="links">
            <a href="/signup" >회원가입하기</a>
        </div>
    </div>
    <script src = '../../static/js/login.js'></script>
</body>




{#    로그인성공#}
{#    {{ user.username }}님 환영합니다.#}
{#    앱이름과 name을 이용해 경로설정#}
{#    <a href="{% url 'accounts:logout'%}">로그아웃</a>#}
{#{% else %}#}
{#<form action="" class="form-signin" method="POST" id="login-form">#}
{#    {% csrf_token %}#}
{#    <input type="id" name="id" id="id" class="form-control" placeholder="Id" autofocus required><BR>#}
{#    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required><br>#}
{#    <input type="submit" value="로그인">#}
{#    <a href="{% url 'accounts:signup' %}">회원가입</a>#}
{#</form>#}
{#{% endif %}#}